<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="http://www.gamegold.xin/imgs/2.png" type="image/x-icon"/>
  <title>游戏金链-百谷王科技</title>
  <link rel="stylesheet" href="./index.css" />
  <meta name="description" content="作为价值互联网的倡导者和建设者，百谷王推出Gamegold游戏金公链平台，直击行业痛点，赋能动漫游戏产业，与友商共建通证经济。">
<meta name="keywords" content="百谷王，游戏金链，游戏金公链，游戏金，游戏分发，游戏道具，道具上链，游戏众筹，通证经济，数字资产管家，道具保值，DAPP，去中心化交易市场">
</head>
<body>
  <div id="root"></div>
</body>
</html>
